@import '../../styles/colors';
@import '../../styles/columns';

.docs {
  pre,
  code {
    padding: 0 0.125rem;
    font-family: 'Roboto Mono', monospace;
    background: $gray-lightest;
  }

  pre {
    padding: 0.25rem;
    font-size: 0.9em;
    line-height: 1.5em;
  }

  .index-headline {
    margin: 0;
  }

  .wiki {
    position: relative;

    &:first-child {
      border-top: 0;
    }

    h1 {
      display: block;
      margin: 4rem 0 1rem;
      padding: 0;
      text-transform: uppercase;
      border-bottom: 2px solid $gray-lightest;

      &:hover {
        color: $black;
      }

      .hidden-anchor > .icon {
        height: 3rem;
      }
    }

    &:first-child h1 {
      margin-top: 2rem;
    }

    h2, h3, h4 {
      margin: 1em 0 0.5em;
    }

    h2 {
      font-size: 1.5em;
      line-height: 1.5em;
    }

    h3 {
      font-size: 1.25em;
    }

    h4 {
      font-size: 1em;
      font-weight: 500;
      color: $black;
    }

    *:last-child {
      margin-bottom: 1rem;
    }

    table {
      margin-bottom: 0.5rem;
      font-size: 0.85em;
      border-collapse: collapse;

      th {
        font-weight: bold;
      }

      td, th {
        padding: 0.25rem;
        border: 1px solid green;
      }

      tr:nth-child(even) td {
        background: $gray-lightest;
      }
    }

    li {
      margin-left: 1.5rem;
      list-style-type: disc;
    }
  }
}
