@import '../../styles/colors';
@import '../../styles/transitions';

.app {
  .indicator {
    position: absolute;
    top: -1.8rem;
    left: 50%;
    width: 16rem;
    margin-left: -8rem;
    font-size: 0.9em;
    line-height: 1.5em;
    text-align: center;
    border-radius: 0.25rem 0.25rem 0 0;
    background: $gray-lightest;
  }

  #drop-notify {
    position: fixed !important;
    z-index: 99;
    height: 0;
    overflow: hidden;
    color: $white;
    font-size: 4em;
    font-weight: bold;
    text-transform: uppercase;
    background: transparentize(lighten($primary, 20%), 0.20);
    opacity: 0;
    transition: opacity $normal-transition $easing;

    span {
      transform: scale(0);
      transition: transform $normal-transition $easing;
    }
  }

  #drop-layer {
    position: absolute;
    z-index: 100;
  }

  body.is-dragging-over #drop-notify {
    height: 100vh;
    opacity: 1;
    animation: pulsePrimary 1.5s infinite;

    span {
      transform: scale(1);
      animation: pulseText 1.5s infinite;
    }
  }

  @keyframes pulsePrimary {
    0% {
      background: transparentize(lighten($primary, 20%), 0.20);
    }
    60% {
      background: transparentize(lighten($primary, 20%), 0.05);
    }
    100% {
      background: transparentize(lighten($primary, 20%), 0.20);
    }
  }

  @keyframes pulseText {
    0% {
      transform: scale(1);
    }
    60% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }

  body.is-dragging-over {
    cursor: grabbing !important;
  }

  body.dark-theme {
    .indicator {
      background: $gray-darker;
    }

    #drop-notify {
      color: transparentize($black, 0.2);
      background: transparentize($secondary, 0.3);
    }

    &.is-dragging-over #drop-notify {
      animation: pulseSecondary 1.5s infinite;
    }
  }

  @keyframes pulseSecondary {
    0% {
      background: transparentize($secondary, 0.3);
    }
    60% {
      background: transparentize($secondary, 0.05);
    }
    100% {
      background: transparentize($secondary, 0.3);
    }
  }
}
