@import '../styles/colors';
@import '../styles/columns';
@import '../styles/transitions';

.docs {
  pre,
  code {
    word-wrap: normal;
    font-family: 'Roboto Mono', monospace;
    font-size: 0.85em;
  }

  pre {
    overflow: auto;
    padding: 0.5rem;
    font-size: 0.9em;
    line-height: 1.33em;
    background: $gray-lightest;
    border-radius: 0.25rem;
  }

  code {
    display: inline;
    overflow: visible;
    margin: 0;
    padding: 0;
  }

  .index-headline {
    margin: 0;
  }

  .wiki {
    position: relative;

    &:first-child {
      border-top: 0;
    }

    h1 {
      display: block;
      margin: 4rem 0 1rem;
      padding: 0;
      color: $black;
      text-transform: uppercase;
      border-bottom: 2px solid $gray-lightest;

      &:first-child {
        margin-top: 0;
      }

      &:target {
        border-bottom: 0;
      }

      .hidden-anchor > .icon {
        height: 3rem;
      }
    }

    h2, h3, h4 {
      margin: 1em 0 0.5em;

      span:after {
        content: ':';
      }
    }

    h2 {
      font-size: 1.5em;
      line-height: 1.5em;
    }

    h3 {
      font-size: 1.25em;
    }

    h4 {
      font-size: 1.125em;
    }

    img {
      max-width: 100%;
      border-radius: 0.25rem;
      box-shadow: 0 0 0 1px $gray-lightest,
                  0 1px 3px 1px transparentize($primary, 1);
      transition: box-shadow $fast-transition $easing;
    }

    a > img {
      &:hover,
      &:focus {
        box-shadow: 0 0 0 1px $primary,
                    0 1px 3px 1px transparentize($primary, 0.5);
      }
    }

    table {
      margin-bottom: 0.5rem;
      font-size: 0.85em;
      border: 1px solid $gray-lighter;
      border-collapse: collapse;

      th {
        font-weight: bold;
        border: 1px solid $gray-lighter;
      }

      td, th {
        padding: 0.25rem;
      }

      td {
        outline: 0;
      }

      tr:nth-child(even) td {
        background: $gray-lightest;
      }
    }

    ul {
      padding-left: 0.75rem;
    }

    li {
      margin-left: 1.5rem;
      list-style-type: disc;
    }
  }
}
