@import '../styles/colors';

.bottom-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 2rem;
  padding: 0 1rem;
  background: $gray-lightest;

  .bottom-bar-buttons {
    li {
      margin: 0 0.125rem;
    }

    &:first-child li:first-child {
      margin-left: 0;
    }

    &:last-child li:last-child {
      margin-right: 0;
    }
  }
}
