#about-teaser {
  background-image: url('./teaser.jpg');
}

#author-list li {
  margin: 0.25rem 0;
  // padding-left: 0.25rem;

  &:after {
    content: ',';
    margin-left: -0.2rem;
    margin-right: 0.5rem;
  }

  &:last-child:after {
    display: none;
  }

  &:nth-last-child(2):after {
    content: 'and';
    margin-left: 0.33rem;
    margin-right: 0.33rem;
  }
}

.person {
  display: inline-block;
}

.person + p {
  margin-top: 0;
}

#youtube {
  @include ratio(0.553571429);  // 310 / 560
}
