@import '../../styles/ratio';

.about {
  .about-teaser {
    background-image: url('./teaser.jpg');
  }

  .about-author-list li {
    margin: 0.25rem 0;
    // padding-left: 0.25rem;

    &:after {
      content: ',';
      margin-left: 0.05rem;
      margin-right: 0.5rem;
    }

    &:last-child:after {
      display: none;
    }

    &:nth-last-child(2):after {
      content: ', and';
      margin-right: 0.33rem;
    }

    > * {
      display: inline-block;
    }
  }

  .iconized p {
    margin-top: 0;
    margin-bottom: 0;
  }
}
