@import '../../styles/colors';
@import '../../styles/ratio';

.home-logo {
  height: 80px;
}

.home-header {
  height: 150px;
  padding: 20px;
  color: #000;
  border-bottom: 2px solid #efefef;
}

.home-intro {
  font-size: 1.125em;
  text-align: left;
}

.home-four-third {
  position: relative;
  border: 1px solid $gray-lightest;
  border-radius: 0.25rem;

  @include ratio(0.66);

  .fwh {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }
}

.fwh {
    height: 25rem;
}
